EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cGV0LXB1cC0zNS5jbGVyay5hY2NvdW50cy5kZXYk
DATABASE_URL=postgresql://neondb_owner:svLDzyuHW4U0@ep-curly-block-a4y1tt81.us-east-1.aws.neon.tech/neondb?sslmode=require
EXPO_PUBLIC_SERVER_URL=http://uber.com/
EXPO_PUBLIC_GEOAPIFY_API_KEY=4869fa4e4a5a432cb6d96cc3bfd84b53
EXPO_PUBLIC_GOOGLE_API_KEY=AIzaSyC1d5VwRL7H8dutW-UozOU4TRJZp89DdkE